@charset "UTF-8";
/* 기본 스타일 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  width: 100%;
  max-width: 500px;
}

.registration-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex; /* 플렉스 박스 활성화 */
  flex-direction: column; /* 세로 정렬 */
}

.registration-form h1 {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

/* 버튼을 하단 중앙에 배치 */
.registration-form form {
  display: flex; /* 플렉스 박스 활성화 */
  flex-direction: column; /* 세로 정렬 */
  justify-content: space-between; /* 상단 입력 필드와 하단 버튼 간 공간 분배 */
  height: calc(100% - 20px); /* 폼 높이를 조정 (필요 시 조정 가능) */
}

.form-group {
  margin-bottom: 15px;
  
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #555;

}

.form-group input {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 14px;
  border: none;
  border-bottom: solid #ddd thin;
  outline: none; /* 포커스 시 나타나는 외곽선 제거 */
  caret-color: black; /* 커서 색상 설정 (원하는 색상으로 변경 가능) */

}
.form-group input::placeholder {
  color: #aaa;}

button {
    background-color:#4169E1 ;
    color:white ;
    padding :10px ;
    border-radius :5px ;
    border:none ;
    align-self: center; /* 버튼을 중앙 정렬 */
    margin-top: auto; /* 위쪽 여백 자동 설정 */
}
