<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aws.team.persistance.FreeBoardMapper">

<sql id="search">
   <if test="keyword != null and keyword != ''">
      AND subject LIKE CONCAT('%', #{keyword}, '%')
   </if>
</sql>

<select id="freeBoardTatalCount" parameterType="scri" resultType="int">
   SELECT COUNT(*) AS cnt FROM board 
   WHERE delyn = 'N' AND board_type = 'F'
   <include refid="search"/>
</select>

<select id="freeBoardSelectAll" parameterType="HashMap" resultType="bv">
   SELECT b.board_pk AS board_pk, b.subject AS subject, b.writedate AS writedate, u.user_pk AS user_pk, u.usernick AS usernick FROM board b
    JOIN user u ON b.user_pk = u.user_pk
   WHERE b.delyn = 'N' AND board_type = 'F'
   <include refid="search"/>
   ORDER BY board_pk DESC LIMIT #{startPageNum}, #{perPageNum}
</select>

<insert id="freeBoardInsert" parameterType="bv">
      INSERT INTO board(board_type, subject, content, filename, ip, user_pk) 
      VALUES(#{board_type}, #{subject}, #{content}, #{uploadedFileName}, #{ip}, #{user_pk})
</insert>

<select id="freeBoardSelectOne" parameterType="int" resultType="bv">
   SELECT b.board_pk AS board_pk, b.subject AS subject, b.content AS content, b.writedate AS writedate, b.recom AS recom, b.viewcnt AS viewcnt, b.filename AS filename, u.user_pk AS user_pk, u.usernick AS usernick FROM board b
   JOIN user u ON b.user_pk = u.user_pk
   WHERE b.board_pk = #{board_pk} AND b.delyn = 'N'
</select>

<update id="freeBoardUpdate" parameterType="bv">
   UPDATE board
   SET subject = #{subject}, content = #{content}, filename = #{uploadedFileName}
   WHERE board_pk = #{board_pk} AND delyn = 'N'
</update>

<update id="freeBoardUpdateViewcnt" parameterType="int">
   UPDATE board
   SET viewcnt = viewcnt + 1
   WHERE board_pk = #{board_pk} AND delyn = 'N'
</update>

<update id="freeBoardUpdateRecom" parameterType="bv">
   <selectKey keyProperty="recom" resultType="int" order = "AFTER">
      SELECT recom FROM board WHERE board_pk = #{board_pk}
   </selectKey>
   UPDATE board
   SET recom = recom + 1
   WHERE board_pk = #{board_pk} AND delyn = 'N'
</update>

<update id="freeBoardDelete" parameterType="int">
   UPDATE board
   SET delyn = 'Y'
   WHERE board_pk = #{board_pk}
</update>

<!-- 댓글기능 -->
<insert id="commentInsert" parameterType="cv">
   INSERT INTO comment(content, ip, user_pk, board_pk)
   VALUES(#{content}, #{ip}, #{user_pk}, #{board_pk})
</insert>

<select id="commentTotalCnt" parameterType="int" resultType="int">
	SELECT COUNT(*) AS cnt FROM comment
	WHERE delyn = 'N' AND board_pk = #{board_pk}
</select>

<select id="commentSelectAll" parameterType="HashMap" resultType="cv">
	SELECT c.comment_pk AS comment_pk, c.content AS content, c.writedate AS writedate, c.delyn AS delyn, u.user_pk AS user_pk, u.usernick AS usernick FROM comment c 
	JOIN user u ON c.user_pk = u.user_pk
	WHERE c.delyn = 'N' AND board_pk = #{board_pk}
	ORDER BY comment_pk DESC
	LIMIT 0, #{block}
</select>

<update id="commentDelete" parameterType="cv">
	UPDATE comment 
	SET delyn = 'Y', ip = #{ip} 
	WHERE comment_pk = #{comment_pk} AND  user_pk = #{user_pk}
</update>

</mapper>