<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aws.team.persistance.QnaBoardMapper">

<!-- List -->
<select id="qnaSelectAll" parameterType="HashMap" resultType="bv">
	SELECT b.*, u.usernick
    FROM board b
    JOIN user u
    ON b.user_pk = u.user_pk
    WHERE b.board_type = 'Q'
    AND b.delyn = 'N' 
    ORDER BY b.origin_num DESC, b.level_ ASC 
    LIMIT #{startPageNum}, #{perPageNum}
</select>

<!-- List -->
<select id="qnaTotalCount" parameterType="scri" resultType="int">
	SELECT COUNT(*) AS cnt
	FROM board
	WHERE board_type = 'Q' 
	AND delyn = 'N'
</select>

<!-- Content -->
<select id="qnaSelectOne" parameterType="int" resultType="bv"> <!-- parameterType : 받아오는 값, resultType : 넘기는 값 -->
	SELECT b.*, u.usernick
	FROM board b
	JOIN user u
    ON b.user_pk = u.user_pk
	WHERE b.board_type = 'Q'
	AND b.delyn = 'N'
	AND b.board_pk = #{board_pk}
</select>

<!-- Content -->
<select id="getUserOriginNums" parameterType="int" resultType="int">
	SELECT origin_num
	FROM board
	WHERE user_pk = #{user_pk}
	AND board_type = 'Q'
</select>

<!-- Write -->
<insert id="qnaInsert" parameterType="bv">
<selectKey keyProperty="board_pk" resultType="int" order="AFTER"> <!-- insert를 하고 난 후(AFTER) board_pk 최고값(MAX)를 찾겠다 -->
	SELECT MAX(board_pk) AS board_pk
	FROM board
</selectKey>
	INSERT INTO board(subject, content, user_pk, board_type, filename, ip)
    VALUE(#{subject}, #{content}, #{user_pk}, 'Q', #{uploadedFileName}, #{ip})
</insert>

<!-- Write -->
<update id="origin_numUpdate" parameterType="int">
	UPDATE board
	SET origin_num = #{board_pk}
	WHERE board_pk = #{board_pk}
</update>

<!-- include -->
<sql id="replyDelete">
	<if test="origin_num != board_pk">
		AND board_pk = #{board_pk}
	</if>
</sql>

<!-- Delete -->
<update id="qnaDelete" parameterType="bv">
	UPDATE board
	SET delyn = 'Y'
	WHERE origin_num = #{origin_num}
	<include refid="replyDelete"/>
</update>

<!-- Modify -->
<update id="qnaUpdate" parameterType="bv">
	UPDATE board
	SET subject=#{subject}, content=#{content}, filename=#{uploadedFileName}
    WHERE board_pk=#{board_pk} 
    AND user_pk = #{user_pk}
</update>

<!-- Reply -->
<insert id="qnaReplyInsert" parameterType="bv">
<selectKey keyProperty="board_pk" resultType="int" order="AFTER"> <!-- insert를 하고 난 후(AFTER) qnrboard_key 최고값(MAX)를 찾겠다 -->
	SELECT MAX(board_pk) AS max_board_pk
	FROM board 
</selectKey>
	INSERT INTO board (subject, content, filename, origin_num, user_pk, board_type, level_, ip)
	VALUES(#{subject}, #{content}, #{uploadedFileName}, #{origin_num}, #{user_pk}, 'Q', #{level_}+1, #{ip})
</insert>

<!-- Reply -->
<select id="countReplies" parameterType="int" resultType="int">
	SELECT COUNT(*) 
	FROM board 
	WHERE origin_num = #{origin_num}
	AND delyn = 'N'
</select>

<!--  경현 : 마이페이지 문의글 목록 가져오는 쿼리문 -->
<select id = "mypageQnaList" parameterType = "int" resultType="com.aws.team.domain.BoardVo">
	SELECT * 
	FROM board 
	WHERE user_pk = #{user_pk}
	AND board_type = 'Q'
	ORDER BY writedate DESC 
	LIMIT 5;
</select>




    
</mapper>