<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aws.team.persistance.TodoMapper">

<select id="todoSelectAll" parameterType="int" resultType="tv">
	SELECT * FROM todo
   WHERE user_pk = #{user_pk}
</select>

<insert id="todoInsert" parameterType="tv">
	INSERT INTO todo(selectdate, content, num, user_pk)
	VALUES(#{selectdate}, #{content}, #{num}, #{user_pk})
</insert>

</mapper>