<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aws.team.persistance.UserMapper">
    <!-- SQL 매핑 내용 -->
    <!-- 회원가입 인서트 쿼리문 -->
    <insert id="userInsert" parameterType="com.aws.team.domain.UserVo">
		insert into user(grade,username,usernick,userid,userpwd,userphone,useremail,joindate) 
		values(#{grade},#{username},#{usernick},#{userid},#{userpwd},#{userphone},#{useremail},#{joindate})		
	</insert>
	<!-- 아이디 중복체크 쿼리문 -->
	<select id="userIdCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) as cnt from user where userid=#{userid}
	</select>
	<!-- 닉네임 중복체크 쿼리문 -->
	<select id="userNickCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) as cnt from user where usernick=#{usernick}
	</select>

</mapper>